/* //////////////////////////////////// */
/* nav */
nav {
    height: 100px;
    width: 100%;
    background-color: transparent;
    z-index: 99;
    text-align: center;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: all 0.5s;
}

nav.roll {
    height: 50px;
    background-color: #333;
}

nav div span a {
    font-family: 'ParkAvenue BT';
    font-size: 42px;
    font-weight: bold;
    color: #01f8d7;
    transition: all 0.5s;
}

nav.roll div span a {
    font-size: 34px;
}

nav ul {
    display: block !important;
}

nav button {
    display: none;
}


/* //////////////////////////////////// */
/* top */
#top {
    height: 88vh;
}

#top > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top > div > div:nth-child(1) {
    font-size: 40px;
}

#top > div > div:nth-child(2) {
    font-size: 75px;
}

#top button {
    width: 250px;
    height: 70px;
    display: block;
    font-size: 20px;
}

@media (max-height: 840px) {
    #top button {
        display: none;
    }
}

@media (max-height: 450px) {
    #top > div {
        position: relative;
        bottom: 0%;
        top: unset;
        transform: translate(-50%);
    }

    #top > div > div:nth-child(1) {
        font-size: 20px;
    }

    #top > div > div:nth-child(2) {
        font-size: 30px;
    }
}

@media (max-height: 250px) {
    #top {
        overflow: hidden;
    }
}


/* //////////////////////////////////// */
/* introduce */
#introduce .cont #info div {
    width: 220px;
}


/* //////////////////////////////////// */
/* skills */


/* //////////////////////////////////// */
/* projects */
#modal {
}