body {
    font-size: 30px; 
}

/* //////////////////////////////////// */
/* nav */
nav {
    height: 20%;
    width: 100%;
    background-color: transparent;
    z-index: 99;
    text-align: center;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: all 0.5s;
}

nav.roll {
    height: 10%;
    background-color: #333;
}

nav div span a {
    font-size: 2.5em;
}

nav.roll div span a {
    font-size: 2em;
}

nav ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    background-color: #333;
}

nav ul li {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #333;
    font-size: 2em;
    padding: 50px 0;
}

nav button {
    display: block;
    width: 150px;
    height: 150%;
    margin-top: -15px;
    background-color: #01f8d7;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

nav.menuOn {
    height: 10% !important;
    background-color: #333 !important;
}

nav.menuOn li {
    margin: 0 !important;
}

@media (max-width: 774px) {
    nav div span a {
        font-size: 1.5em;
    }

    nav.roll div span a {
        font-size: 1em;
    }
}

/* //////////////////////////////////// */
/* top */
#top {
    height: auto;
}

@media (max-height: 300px) {
    #top {
        height: auto;
    }
}

#top > div > div:nth-child(1) {
    font-size: 3em;
}

#top > div > div:nth-child(2) {
    font-size: 5em;
}

#top button {
    width: 50%;
    height: 5vh;
    display: none;
    font-size: 1.5em;
}

@media ( max-width: 612px ) {
    #top > div > div:nth-child(2) {
        font-size: 4em;
    }
}

@media ( max-width: 530px ) {
    #top > div > div:nth-child(2) {
        font-size: 3em;
    }
}

@media (min-height: 1600px) {
    #top {
        height: 88vh;
    }
    #top button {
        display: block;
    }
}

@media (min-height: 1000px) {
    #top button {
        margin-bottom: 30%;
    }
}



/* //////////////////////////////////// */
/* introduce */
#introduce .cont #info {
    text-align: center;
}

#introduce .cont #info div {
    width: 310px;
}

/* //////////////////////////////////// */
/* skills */
#skills #skill_frame {
    width: 100%;
}

#skills .skill {
    width: 200px;
    height: 200px;
    font-size: 1em;
    margin: 50px 20px;
}

#skills .skill:hover .skill_img{
    width: 180px;
    height: 180px;
}

#skills .skill_img {
    width: 160px;
    height: 160px;
}

/* //////////////////////////////////// */
/* projects */
#modal {
    height: auto;
}