@font-face {
    font-family: ParkAvenue BT; 
    src: url("font/ParkAvenue BT.TTF");
  }

* {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 40px;
    margin-bottom: 80px;
}   

section:not(:nth-of-type(1)) {
    text-align: center;
    padding: 100px;
    
}

section:nth-of-type(odd) {
    background-color: rgb(230, 230, 230);
}

/* //////////////////////////////////// */
/* nav */


nav div {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: transparent;
    display:flex;
    justify-content: space-between;
}

nav div span a {
    font-family: 'ParkAvenue BT';
    font-weight: bold;
    color: #01f8d7;
    transition: all 0.5s;
}

nav ul li{
    display: inline-block;
    margin: 0 50px;
    color: white;
    cursor: pointer;
}

/* //////////////////////////////////// */
/* top */
#top {
    background-image: url("../img/laptop-1478822_1920.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    filter: grayscale(50%);
    position: relative;
}

#top > div {
    padding-top: 20vh;
    color: white;
    text-align: center;
}

#top > div > * {
    margin: 60px auto;
}

#top > div > div:nth-child(1) {
    font-size: 40px;
    font-family: 'Georgia';
    font-style: italic;
    text-shadow: 2px 2px 2px gray;
}

#top > div > div:nth-child(2) {
    font-size: 75px;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
    padding-bottom: 100px;
}

#top button {
    background-color: #01f8d7;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



/* //////////////////////////////////// */
/* introduce */
#introduce h2:hover, #introduce img:hover {
    cursor: pointer;
}

#introduce h2:hover .balloon {
    display: block;
}

#introduce img {
    width: 30px;
    height: 30px;
}

#introduce .balloon {
    font-size: 0.4em;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    background-color: #01f8d7;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#introduce .cont {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
}

#introduce .cont #info {
    width: 100%;
    border-right: 1px solid gray;
    text-align: right;
}

#introduce .cont #info div {
    margin: 10px 0;
    display: inline-block;
    text-align: left;
    margin-right: 50px;
}

#introduce .cont #info div span:first-child {
    color: #00d4b8;
    font-weight: bold;
}

#introduce .cont #explain {
    width: 100%;
    padding: 0 50px;
}

#introduce .cont #explain p {
    width: 310px;
    margin: 10px;
}

#introduce .more-intro {
    width: 750px;
    margin-top: 50px;
    display: none;
    text-align: left;
}

#introduce .more-intro span {
    color:#00d4b8;
}

/* //////////////////////////////////// */
/* skills */
#skills #skill_frame {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills .skill {
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 20px;
    transition: all 1s;
    margin: 30px;
    position: relative;
    cursor: pointer;
}

#skills .skill:hover {
    color: #00caaf;
}

#skills .skill:hover .skill_img{
    width: 120px;
    height: 120px;
}

#skills .skill_img {
    width: 110px;
    height: 110px;
    border-radius: 60px;
    padding: 10px;
    background-color: white;
    transition: all 1s;
}

#skills .skill_img img {
    width: 95%;
    height: 95%;
    
}

#skills .skill .skill-info {
    width: 260px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 115%;
    transform: translate(-50%);
    background-color: whitesmoke;
    border-radius: 10px;
    display: none;
    text-align: left;
    padding: 5px;
}

#skills .skill .skill-info-tri {
    width: 0px;
    height: 0px;
    border-top: 20px solid whitesmoke;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}

#skills .skill-info ul li{
   list-style-type: disc;
   margin-left: 24px;
}

/* //////////////////////////////////// */
/* projects */
#projects #project_frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .project {
    width: 350px;
    height: 300px;
    margin: 30px;
}

#projects .project .project_img{
    width: 300px;
    height: 250px;
    position: relative;
    transition: all 1s;
}

#projects .project .project_img:hover {
    background-color: #00caaf;
    cursor: pointer;
}

.project_img:hover .cross {
    opacity: 1;
}

.cross {
    opacity: 0;
    transition: all 1s;
}

.cross_vertical {
    width:20px;
    height: 60px;
    background-color: #333;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cross_horizen {
    width: 60px;
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projects .project img {
    width: 100%;
    height: 100%;
    /* border-bottom: 1px solid #777; */
    opacity: 1;
    transition: all 1s;
}

#projects .project img:hover {
    opacity: 0;
}

#projects .project div {
    background-color: rgb(240, 240, 240);
}

/* //////////////////////////////////// */
/* modal */
#modal {
    width: 80vw;
    height: 90vh;
    background-color: rgb(240, 240, 240);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    border-radius: 10px;
    text-align: center;
    overflow: auto;
    display: none;
}
#modal .x {
    text-align: right;
    cursor: pointer;
    font-size: 30px;
    margin: 20px;
}
#modal h2{
    text-align: center;
    
}

#modal .modal-skill {
    text-align: center;
}

#modal .modal-skill span {
    background-color: #00caaf;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#modal video {
    margin-top: 50px;
    width: 60%;
    height: 30%;
}

#modal a {
    margin-bottom: 50px;
    display: block;
    color:#00b199;
    text-decoration: underline;
}

#modal a:hover {
    animation-name: rainbow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

body.modalOn {
    overflow: hidden;
}


/* //////////////////////////////////// */
/* keyframes */
@keyframes rainbow {
    12% {color:salmon;}
    25% {color: tomato;}
    38% {color: khaki;}
    50% {color: lightgreen;}
    63% {color: skyblue;}
    75% {color: slateblue;}
    88% {color: thistle;}
    100% {color:#00b199;}

}